/* Déclaration de variables CSS */
:root{
    --primary-color:rgb(0, 143, 17);
    --secondary-color: rgb(0,255,65);
    --third-color: rgb(0,59,0);
    --fourth-color: rgb(13,2,8);
    --font-family: "Roboto", sans-serif;
    --transition: 1.5s;
    --bold-font: 700;
    --line-height: 15px;
    --padding-default: 15px 35px;
    --margin-top: 25px;
    --margin-bottom: 6px;
    --border-radius: 15px;
    --margin-default: 10px;
    --box-shadow: 0 0 6px 5px var(--third-color);
    --icon-format: 33px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
a:hover{
    color: var(--secondary-color);
}
nav{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-default);
    background-color: var(--fourth-color);
    box-shadow: var(--box-shadow);
    z-index: 1;
}
nav h1{
    color: var(--primary-color);
}
nav h1:hover{
    color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    cursor: url("../img/icons8-yoda-100.png"), auto;
}
nav a{
    color: var(--primary-color);
    text-decoration: none;
}
nav a:hover{
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    transition: var(--transition);
}
nav ul{
    display: flex;
    gap: 15px;
}
nav ul li{
    font-weight: var(--bold-font);
}
.burger-menu{
    color: var(--primary-color);
    font-size: 20px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}
.burger-menu:hover{
    color: var(--secondary-color);
    transition: var(--transition);
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    max-width: 80%;
    margin: auto;
    margin-top: var(--margin-top);
}
.hero img{
    height: 45%;
    width: 45%;
}
.bio{
    width: 70%;
    padding: 4px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.bio p, h2{
    line-height: var(--line-height);
    text-align: justify;
    margin: 15px;
}
.more-about{
    background-color: var(--fourth-color);
    color: var(--primary-color);
    padding: var(--padding-default);
    margin-top: var(--margin-top);
    box-shadow: var(--box-shadow);
}
.more-about h2{
    margin-bottom: var(--margin-bottom);
    text-align: center;
}
.more-about p{
    line-height: var(--line-height);
    padding: 4px;
    text-align: center;
}
.skills{
    max-width: 70%;
    margin: auto;
    text-align: center;
    margin-top: var(--margin-top);
}
.skills-header{
    margin-bottom: var(--margin-bottom);
    font-weight: var(--bold-font);
}
.skills-wrapper img{
    padding: 10px;
}
.icon{
    width: 100px;
    height: 100px;
}
.icon-card{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: var(--margin-default);
}
.projects{
    background-color: var(--primary-color);
    padding: var(--padding-default);
    margin-top: var(--margin-top);
    box-shadow: var(--box-shadow);
}
.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-title{
    text-align: center;
    margin-bottom: var(--margin-bottom);
}
.project-card{
    background-color: var(--secondary-color);
    text-align: center;
    width: 350px;
    padding: var(--padding-default);
    border-radius: var(--border-radius);
    margin: var(--margin-default);
    box-shadow: var(--box-shadow);
    transform-origin: center;
    transform: perspective(500px) rotateY(20deg);
    transition: var(--transition);
}
.project-card:hover{
    transform:
        perspective(500px) 
        rotateY(0) 
        scale(1.5,1.5);
    z-index: 3;
}
.project-pic{
    width: 90%;
    height: 90%;
    border-radius: var(--border-radius);
    margin: var(--margin-default);
}
.contact{
    margin-top: var(--margin-top);
}

.contact h2{
    text-align: center;
    margin-bottom: var(--margin-bottom);
    color: var(--fourth-color);
    font: var(--font-family);
    font-size: 26px;
}

.contact-form-container{
    max-width: 80%;
    margin: auto;
    padding: var(--padding-default);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.contact-form-container label{
    line-height: 27px;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.contact-form-container textarea{
    min-height: 62px;
    font-size: 14px;
}

.contact-form-container .input-field{
    width: 100%;
    padding:  var(--padding-default);
    border-radius: var(--border-radius);
    border: none;
    border: 1px outset var(--primary-color);
    font-size: 18px;
    outline: none;
}

.input-field::placeholder{
    padding: var(--padding-default);
    color: var(--primary-color);
}

.submit-btn{
    width: 100%;
    padding: var(--padding-default);
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    font-size: 18px;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover{
    background-color: var(--secondary-color);
    border: 1px solid var(--third-color);
    color: var(--fourth-color);
    cursor: pointer;
}

.socials{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1px;
    bottom: 50%;
}

.socicon{
    width: var(--icon-format);
    border-radius: var(--border-radius);
}

footer{
    background-color: var(--primary-color);
    padding: var(--padding-default);
    text-align: center;
    margin: var(--margin-top) 0 0;
    box-shadow: var(--box-shadow);
    color: white;
    font-weight: var(--bold-font);
}

.scroll-up{
    position: fixed;
    right: 1px;
    bottom: 0px;
    cursor: pointer;
}

.scroll-up-icon{
    width: var(--icon-format);
    border-radius: var(--border-radius);
}